.App{
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.user-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.form input{
  display: block;
  margin: 10px auto;
  width: 100%;
}

.form button{
  width: 100%;
}

.delete-button{
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}